/* This styles coded by «Iconic» team for «3rd Rome Taxi» */

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 80px;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

.none-event {
    pointer-events: none;
}

.hided {
    display: none;
}


/* header */

header {
    width: 100%;
    background: linear-gradient(90deg, #543FD3 0%, #D04ED6 100%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;
    /* max-height: 103px; */
}

.header {
    width: 100%;
    padding: 1.4rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    width: 7.5rem;
    height: 7.3rem;
}

.nav_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_item {
    margin: 0 3.5rem;
}

.nav_link {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
}

.profile_mini {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile_img {
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.6rem;
}

.profile_info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.profile_name,
.profile_number {
    font-size: 1.6rem;
    color: #fff;
}

.profile_number {
    margin-top: 0.6rem;
}

.profile-image {
    width: 4.8rem;
    height: 4.8rem;
}


/* header end */


/* content */

.content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 900;
    display: flex;
    flex-direction: column;
}

.content-map {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.tariffs-list {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 20px 15px;
    width: min-content;
}

.tariff-item {
    cursor: pointer;
    margin-right: 6px;
}

.tariff-card {
    padding: 5px 13px;
    z-index: 2;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
}

.car-img {
    width: 70px;
    height: 46px;
    object-fit: cover;
}

.tariff-name {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.price {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.time {
    padding: 4px 8px;
    background: #D5DDE0;
    border-radius: 100px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.selected-tariff {
    border: 1px solid #543FD3;
}

.selected-tariff-time {
    background: #00C853;
}

.none-tariff {
    opacity: 0;
}

.hidden {
    display: none;
}

.tariff-details {
    position: relative;
    z-index: 1;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    width: min-content;
    padding: 3rem 2.4rem;
    margin-left: 15px;
    margin-top: -8px;
}

.input-bg {
    display: flex;
    align-items: center;
}

.input-bg:not(:last-child) {
    margin-bottom: 27px;
}

.input-relative {
    position: relative;
    margin-left: 1.8rem;
}

.input-txt {
    position: absolute;
    left: 0;
    top: -.7rem;
    transform: translateY(-100%);
    font-size: 12px;
    font-weight: 300;
}

.form-input {
    outline: none;
    border: .2rem solid #767676;
    padding: 1.5rem 1.2rem;
    font-size: 14px;
    font-weight: 400;
    width: 28.8rem;
    border-radius: 8px;
}

.form-input:focus {
    border-color: #543FD3;
}

.addInput {
    margin-top: 27px;
}

.input-img {
    width: 20px;
    object-fit: contain;
}

.select-bg {
    display: flex;
    align-items: center;
    position: relative;
}

.select-list {
    position: absolute;
    left: calc(100% + 15px);
    top: 0;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.select-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 12px;
    transition: all .3s;
}

.select-items:hover {
    background: #553fd312;
}

.select-first {
    display: flex;
    align-items: center;
}

.select-item-txt {
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.selected-txt {
    color: #543FD3;
}

.paid-img {
    margin-right: 12px;
    width: 6px;
}

.selected-img {
    margin-left: 27px;
}

.closed {
    display: none;
}

.selected-img {
    width: 12px;
}


/* content end */


/* footer */

footer {
    background: #0A142F;
    /* max-height: 298px; */
    transform-origin: bottom center;
    transition: all .2s;
}

.footer-container {
    padding: 0 calc((100vw - 1170px) / 2);
    max-height: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem 0;
    transform-origin: bottom center;
    max-height: 2000px;
    transition: all .2s;
    border-bottom: none;
}

.footer-content:not(:last-child) {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #979797;
}

footer:hover .footer-content:not(:last-child) {
    padding: 2.8rem 0;
    max-height: 2000px;
    overflow: visible;
}

.footer-content:last-child {
    display: flex;
    justify-content: center;
}

.footer-info-value,
.locat-link,
.footer-info,
.footer-second,
.lang {
    display: flex;
    align-items: center;
}

.locat-txt,
.footer-info-txt {
    font-family: 'Assistant', sans-serif;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
}

.lang-icon {
    margin-right: 1.8rem;
}

.lang-txt {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
}

.pay-icon {
    margin-left: 1rem;
}

.footer-app-link {
    margin-left: 3rem;
}

.footer-copyright {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    font-family: 'Assistant', sans-serif;
}

.locat-link {
    margin-bottom: 2.5rem;
}

.footer-info-value {
    margin-right: 5rem;
}

.locat-icon,
.footer-info-icon {
    margin-right: 2.2rem;
}

.lang-img {
    width: 3.8rem;
    height: 4rem;
}

.pay-img {
    width: 10rem;
    height: 4.4rem;
}

.footer-app-img {
    width: 21rem;
    height: 5.7rem;
}


/* footer end */

@media (max-width:1681px) {
    html {
        font-size: 7px;
    }
}